.feed-link, .chat {
  margin-top: 10px;

  a {
    display: inline-block;
    padding: 0 15px;
    color: black;
    border: 1px solid black !important;
    border-radius: 4px;

    i {
      color: black;
      font-size: 14px;
    }

    &:hover {//此处设置的是站点概况->RSS按钮
      color: white;
      background: black;

      i { color: white; }
    }
  }
}
